celery==3.1.18
codecov
coverage==5.3
cryptography==2.5
ddt==1.1.1
djangorestframework==3.12.2
edx-celeryutils==0.2.6
edx-lint==1.5.2
edx-opaque-keys==0.4
edx-submissions==3.2.3
jsonfield==2.1.1
mako==1.0.7
mock==2.0.0
pdbpp
pep8==1.6.2
pylint-django==2.3.0
pyOpenSSL==17.3.0
pytz
pytest
pytest-cov
pytest-django
pytest-mock
six==1.11.0
tox

git+https://github.com/edx/xblock-utils.git@v1.0.5#egg=xblock-utils==1.0.5
git+https://github.com/edx/xblock-sdk.git#egg=xblock-sdk
